{{>headerLinks}}
<body>
   {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-8 col-12 main_header_left">
                        <p>I am an esteemed choreographer hailing from the vibrant land of India. Within the realm of artistic expression, the illustrious Narayanam Dance Academy emerges as a beacon of creativity, offering an extensive array of dance styles tailored for individuals across all age groups, be it the enthusiastic younglings, the spirited teenagers, or the discerning adults. Special classes focusing on Zumba dance and Aerobics Workout cater to graceful ladies, combining fitness and artistic finesse.We have notable presence in music videos and conducts workshops and seminars. I opened as a film choreographer with the 2018 dance movie .</p>
                        <quote><b><i><h4>"Do it big, do it right, and do it with style."</h4></i></b></quote>
                       
                        <span><h1><i>RamCharan Agnihotri</i></h1><p>Contact : 8888678955</p>💖💖 </span>
                        
                        <br> 
                    </div>
                    <div class="col-md-4 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class=" w-100" src="../public/Images/about.jpg" alt="First slide">
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{>footer}}
    
</body>
</html>
