@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item img{
    max-height: 28rem;
    border-radius: 10%;
    transition: 0.1ms;
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3) );
}

:root{
    --main-bg:#2e1f1e;
    --main-color:#096aac;
}
html{
    font-size: 62.5%;  /* 1rem=10px */
}
body{
    display: flex;
    flex-direction: column;
}
.row{
    margin: 0;
}
.main_menu{
    background-color:black;
    color: beige;
}
 .navbar{
     color: beige;
     background-color:black;
     padding: 1.4rem 0;
 }
 .navbar li{
     margin-left: 2rem;
     font-weight: 600;
     font-size: 1.8rem;
 }
 .navbar #logo img{
    height: 6rem;
    width: 15rem;
    filter: drop-shadow(0 0.5rem 1rem rgba(12, 11, 11, 0.5) );
 }
 .navbar a{
    font-size: 2rem;
    font-weight: 600;
    font:oblique;
    color: #dfc977;
 }
 .navbar a:hover{
      color: #f4e4aa;
      
 }
 .navbar-toggler{
    background: linear-gradient(to bottom,#fff,#000,#fff,#000,#fff);
}
 /* main header */
 .main_header{
     background: linear-gradient(to top left,rgb(1, 0, 0),rgb(22, 9, 9),rgb(43, 43, 243));
     min-height: 100vh;
     max-width: 100vw;
 }
 .main_header_left{
     height: 60rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .main_header_left p{
     font-size: 2rem;
     color: #f5f5dc;
     font-style: italic;
     font-family: serif;
 }

 .main_header_left h4{
    color: #eee8aa;
 }

 .main_header_left h1{
     font-size: 3rem;
     margin: 1rem 0 1.5rem 0;
     text-transform:capitalize;
 }
 .main_header_left span{ 
     color:chartreuse;
     font-size: 3.5rem;
 }
 .main_header_left span:hover{
     color: rgb(136, 255, 0);
     font-size: 4rem;
     margin-bottom: 1rem;
 }
 .main_header_left button{
  text-transform: uppercase;
  border-radius: 2rem;
  box-shadow: 0 8px 6px -6px #000;
  font-size: 1.4rem;
  padding:0.8rem 1.8rem;
  border: none;
  color:rgb(14, 8, 1);
 }
 .main_header_left button:hover {
    background-color: green;
    color:#fff;
  }
  h2{
    font-family: 'Cormorant Upright',serif;
    font-weight: 600;
    font-size: 3rem;
    color: #DCCA87;
    margin-top: 2rem;
}
.main_header_left h3{
    font-family: 'Cormorant Upright',serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: #eebe12;
    margin-top: 2rem;
}

.main_header_left h6{
    color: #998480;
    font-size:2rem ;
    font-family:serif,'Open Sans';
    margin: 1.5rem auto;
}
 .main_header_right{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_right figure img{
   filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.5) );
   width: 40rem;
   margin: 0 auto;
}
p{
 font-size: 2rem;
 font-family:'Alegreya', serif;
 color: #f2f1e6;
}
h2{
    font-size: 3rem;
}

.join p{
 font-size: 1.8rem;
 font-family:'Alegreya', serif;
 color: #f8f4b6; 
}
.join h3{
    font-size: 2.2rem;
    color: rgb(196, 249, 244);
    font-family: 'Noto Serif Display', serif;
    margin-bottom: 2rem;
    font-weight: 200;
    line-height: 3rem;
}
#bgimg{
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.8) );
}
#bgimg:hover{
    filter: drop-shadow(0 0.5rem 1rem rgba(0,8px,0,0.8) );
}

footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
    bottom: 0rem;
}
footer p{
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    line-height: 5rem;
}

/* Responsive Code */

@media (max-width : 800px){
    .main_header_left{
        height: auto;
        margin: 5rem auto;
    }
    .main_header_right{
        height: auto;
        margin-right: 3rem;
        margin-bottom: 2rem;
    }
    ::placeholder,select,label,option,.form p{
        font-size: 1.3rem;
    }
    .formbtn{
        padding: 0rem;
    }
}



/* Register-Page */
.container{
    width: 40rem;
    max-width: 60vw;
    background: linear-gradient(to top left,rgba(207, 187, 72, 0.4),rgb(0, 0, 0,0.2),rgba(36, 52, 126, 0.7));
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 10px -3px rgb(14, 13, 13);
    margin: 0 auto;
}
.container:hover {
    width: 42rem;
    padding: 20px;
    box-shadow: 0 5px 5px -2px rgb(245, 237, 190);
}
.form{
    width: 70%;
    background: linear-gradient(to top left,rgba(207, 187, 72, 0.4),rgb(0, 0, 0,0.2),rgba(36, 52, 126, 0.7));
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 8px 10px -3px rgb(14, 13, 13);
    padding: 2.5rem;
    margin: 0 auto;
}

label{
    color: #696967;
    font-weight: bold;
    font-size: 1.3rem;
    margin:1rem auto ;
    display: block;
    padding: 5px;   
    margin:5px auto ;
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input ,textarea,select{
    display: block;
    padding: 0.6rem;
    border: none;
    border-radius: 5px; 
    opacity: 0.5;
    margin:0.8rem auto ;
    width: 60%;
    color: rgb(247, 85, 85);
    background: linear-gradient(to bottom right, rgb(238, 238, 200),rgb(212, 212, 181),rgb(18, 18, 18));
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.form .formbtn{
    margin: 1rem 10vw;
}
.info{
    margin: 1rem auto;
}
.joinbtn{
    margin: 0.8rem 14.4rem;
    border-radius: 1.7rem;
    font-size: 1.4rem;
    font-weight:700;
    padding:0.8rem 1.8rem;
    border: none;
    color: #000;
    text-transform: uppercase;
    border-radius: 2rem;
  }

  /*student list*/
  .student_list{
    display: flex;
    justify-content:space-around;
    margin: auto;
  }
  table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position:relative;
    margin: 2rem auto;
    max-width: 60%;
  }
  th{
    background-color: #000;
    color: wheat;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: 700;
  }
  
  tr:nth-child(even) {
    background-color: #edc879;
  }
  tr:nth-child(odd) {
    background-color: #7feff9;
  }
